body{
	background-image: url("https://static.pexels.com/photos/39811/pexels-photo-39811.jpeg");
	background-size: cover ;
}

.clock{
	border: 15px solid #FFF;
	border-radius: 50%;
	text-align: center;
	height: 150px;
	width: 150px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.hand{
	color: #FFF;
	border-bottom:2px solid #000;
	width: 50%;
	margin: auto;
	position: absolute;
	top: 75px;
	left: 75px;
	transform-origin: 0%;
	transform: rotate(-90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.36, 1.55, 0.58, 1);
	 
}
